
* {
  box-sizing: border-box;
}

body {
  background: #222;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  height: 2px;
  border: none;
  background: #F4A939;
  margin-bottom: 10px;
}

p, h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

a {
  color: #fff;
  font-size: 20px;
}

a:hover {
  color: #F4A939;
}

/* index.html */
h1, h2{
  color: #F4A939;
}

.logo  h1,h2 {
  margin: 0;
}

.logo {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
}

.logo  h1 {
  margin-right: 10px;
}

.logo  h2 {
  color: #fff;
}

.navbar {
  display: flex;
}

.navbar .nav-item {
  margin-right: 20px;
  margin-bottom: 5px;
}

.text {
  margin-top: 100px;
  margin-bottom: 100px;
}

.booking {
  margin-top: 50px;
  margin-bottom: 50px;
}

.booking a{
  text-decoration: none;
  color:#fff;
  background: #F4A939;
  padding: 10px;
  border-radius: 10px;
}

.booking a:hover{
  color:#F4A939;
  background: transparent;
  border: 2px solid #F4A939;
}

/* decor.html */
.decor h2 {
  color: #F4A939;
  margin-top: 20px;
  margin-bottom: 10px;
}

.decor .image {
  display: flex;
}

.image .img {
  width: 50%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  border-radius: 20px;
}

.decor .img1 {
  background-image: url('https://images.unsplash.com/photo-1508424757105-b6d5ad9329d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80');
}

.decor .img2 {
  background-image: url('https://images.unsplash.com/photo-1428515613728-6b4607e44363?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
}

/* connection.html */
.connection {
  margin-top: 30px;
}

.connection h2 {
  color: #F4A939;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  border: 3px solid #F4A939;
}

/* booking.html */
.booking h2 {
  margin-bottom: 10px;
}

/* review */
.review {
  margin-top: 20px;
}

.user {
  margin-bottom: 20px;
}

.user h4 {
  color: #F4A939;
}

/* menu */
.menu {
  display: flex;
}

.menu .item {
  display: flex;
  width: 30%;
  height: 300px;
  margin-right: 50px;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.item .text {
  width: 100%;
  padding-top: 10px;
  border-top: 2px solid #F4A939;
  border-bottom: 2px solid #F4A939;
  margin: 0;
  margin-top: 20px;
}

.menu .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.menu .img1 {
  background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
}

.menu .img2 {
  background-image: url('https://images.unsplash.com/photo-1555178897-2b91b4a9c9e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80');
}

.menu .img3 {
  background-image: url('https://images.unsplash.com/photo-1576092768241-dec231879fc3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80');
}